<form
  class="form-horizontal"
  autocomplete="off"
  #createForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
  
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="title">
        {{ "Title" | localize }}
      </label>
      <div class="col-md-9">
        <input [readonly]="isViewMode"
          type="text"
          class="form-control"
          name="title"
          id="title"
          minlength="2"
          maxlength="64"
          required
          [(ngModel)]="product.title"
          #titleModel="ngModel"
          #titleEl
        />
        <abp-validation-summary
          [control]="titleModel"
          [controlEl]="titleEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="code">
        {{ "Code" | localize }}
      </label>
      <div class="col-md-9">
        <input [readonly]="isViewMode"
          type="text"
          class="form-control"
          name="code"
          id="code"
          maxlength="128"
          required
          [(ngModel)]="product.code"
          #codeModel="ngModel"
          #codeEl
        />
        <abp-validation-summary
          [control]="codeModel"
          [controlEl]="codeEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="quantity">
        {{ "quantity" | localize }}
      </label>
      <div class="col-md-9">
        <input [readonly]="isViewMode"
          type="number"
          class="form-control"
          name="quantity"
          id="quantity"
          min="0"
          [(ngModel)]="product.quantity"
        />
      </div>
    </div>
    
  </div>
  <div *ngIf="!isViewMode">
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</div>
</form>
